# Postmark Configuration
POSTMARK_API_TOKEN=1afe33d3-afd7-40ef-b765-bacb0e93691c    # Your Postmark Server API token
POSTMARK_FROM_EMAIL=kyle.simmons@techneighbors.com     # Your verified sender email in Postmark
CONTACT_RECEIVER_EMAIL=kyle.simmons@techneighbors.com  # Email address to receive contact form submissions

# Backend API Configuration
NEXT_PUBLIC_BACKEND_API_URL=http://your-backend-api-url  # Your backend API URL for resume downloads

# Google Analytics Configuration
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-3BCYG90TWS  # Your Google Analytics Measurement ID

# Cloudflare Turnstile Configuration
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

# Other configurations...
NEXT_PUBLIC_BASE_URL=http://localhost:3000       # Your site's base URL 

# Node Environment
NODE_ENV=development